.title {
  width: 720px;
  font-size: 40px;
  color: #f5f5f5;
  box-shadow: none;
  border-bottom: 1px solid #dfe1e577;
  padding: 7px 20px;
  margin: 5px auto 5px auto;
}

.article {
  width: 720px;
  height: 720px;
  overflow-y: scroll;
  overflow-x: inherit;
  font-size: 20px;
  color: #f5f5f5;
  box-shadow: none;
  border-bottom: 1px solid #dfe1e577;
  padding: 7px 20px;
  margin: 5px auto 5px auto;
  white-space:normal
}

img {
  max-width: 650px;
}

.comment {
  width: 720px;
  height: 40px;
  box-shadow: none;
  padding: 7px 20px;
  margin: 5px auto 5px auto;
}